<!DOCTYPE html>
<html>

<head>
    <title>{{ .Title }}</title>

    <!-- Google Font for Roboto -->
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <!-- Link to Custom CSS -->
    <link rel="stylesheet" href="{{ "css/custom.css" | absURL }}">
</head>

<body>
    <!-- This h1 will show up on the webpage as a visible headline -->
    <h1 class="site-title">Stickie with it</h1>


    <!-- This block renders the content from your .md files -->
    {{ block "main" . }}{{ .Content }}{{ end }}



</body>
</html>

