{{ define "main" }}
<h1 class="site-title">{{ .Title }}</h1>
<p>{{ .Params.description }}</p>


<!-- Tile Container -->
<div class="homepage-tiles">
<!-- Tile 1: Bite-Sized Workouts -->
<div class="tile">
<div class="tile-inner">
<div class="tile-front">
<img src="/homepage-tiles/bite-sized-front.png" alt="Bite-Sized Workouts">
</div>
<div class="tile-back">
<img src="/homepage-tiles/bite-sized-back.png" alt="Bite-Sized Workouts">
</div>
</div>
</div>

<!-- Tile 2: Personalized Fitness -->
<div class="tile">
<div class="tile-inner">
<div class="tile-front">
<img src="/homepage-tiles/personal-front.png" alt="Personalized Fitness">
</div>
<div class="tile-back">
<img src="/homepage-tiles/personal-back.png" alt="Personalized Fitness">
</div>
</div>
</div>

<!-- Tile 3: Confidence Building -->
<div class="tile">
<div class="tile-inner">
<div class="tile-front">
<img src="/homepage-tiles/confidence-front.png" alt="Confidence Buiding">
</div>
<div class="tile-back">
<img src="/homepage-tiles/confidence-back.png" alt="Confidence Building">
</div>
</div>
</div>

<!-- Tile 4: Flexible & Fun -->
<div class="tile">
<div class="tile-inner">
<div class="tile-front">
<img src="/homepage-tiles/flexible-front.png" alt="Flexible & Fun">
</div>
<div class="tile-back">
<img src="/homepage-tiles/flexible-back.png" alt="Flexible & Fun">
</div>
</div>
</div>
</div>

<script>
    document.querySelectorAll('.tile').forEach(tile => {
      tile.addEventListener('click', function() {
        this.classList.toggle('flip');
      });
    });
  </script>


</body>


{{ end }}
